# Supabase Configuration
VITE_SUPABASE_URL=https://gnspkprqfsswnlvbuxvd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imduc3BrcHJxZnNzd25sdmJ1eHZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NzI1NTEsImV4cCI6MjA5MjI0ODU1MX0.wmAT-blyJW1AFK00366LeLvBguMor7fIreGawkwtSHQ
